@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
#interactive-map {
    font-family: 'Proxima Nova', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:16px;
    line-height: 1em;
}

#interactive-map a {
    color: #E56B33;
    text-decoration: none;
}

#interactive-map a:hover {
    color: #DA4E39;
}

.form {
    text-align: center;
    font-size: 1.2em;
    padding: 4vh 0 4vh 0;
}

/* map */
#map {
    height: 70vh;
}

#map path.country-map:hover {
    fill: #DA4E39;
    cursor: pointer;
    opacity: 1;
    stroke: #FBC218;
    stroke-width: 2;
}

.country-map {
    opacity: 0.7;
}

#map path {
    transition: all ease-in-out 0.2s;
}

.location {
    /* stroke: #FBC218; */
    stroke: #E56B33;
    stroke-width: 2;
    fill: #FBC218;
}

.location:hover {
    fill: #DA4E39;
    cursor: pointer;
    stroke: #FBC218;
}

.active {
    fill: #DA4E39;
    stroke: #FBC218;
    stroke-width: 2;
    opacity: 1;
}

.size {
    stroke: none;
}

.size:hover {
    fill: #DA4E39;
    cursor: pointer;
    stroke: #FBC218;
    stroke-width: 2;
}

.mas1:hover ~ .mas2 {
    fill: #DA4E39;
    cursor: pointer;
    stroke: #FBC218;
    stroke-width: 2;
}

.mas2:hover ~ .mas1 {
    fill: #DA4E39;
    cursor: pointer;
    stroke: #FBC218;
    stroke-width: 2;
}

#buttons button {
    margin-top: 1vh;
    background-color: #E56B33;
    color: #fff;
    padding: 0.5vh 1.5vw 0.5vh 1.5vw;
    font-size: 1.2em;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 2em;
    border:none;
    transition: all ease-in-out 0.2s;
    border: 2px solid #E56B33;
}

#buttons .active {
    background-color: #DA4E39;
    color: #fff;
    border: 2px solid #FBC218;
}

#clear-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3vh;
}

.filter-text {
    font-weight: 600;
    font-size: 1.7em;
    margin-left: 6vw;
    text-transform: uppercase;
    color: #DA4E39;
}

#buttons button:hover {
    color: #DA4E39;
    background-color: #fff;
    border: 2px solid #DA4E39;
}

#buttons .active:hover {
    color: #DA4E39;
    background-color: #fff;
    border: 2px solid #FBC218;
}

#sector-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

/* entities */
#entities {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2vh;
    gap: 2vw;
}

.entity {
    display: flex;
    border: 2px solid #DA4E39;
    border-radius: 2em;
    padding: 1.5vw;
    width: 40vw;
    transition: all ease-in-out 0.2s;
    color: #000;
    transform: translateX(500px);
    opacity:0;
    cursor: default;
}

.entity:hover {
    background-color: #DA4E39;
    color: #fff;
}

.entity a {
    color: #E56B33;
    text-decoration: none;
}

.entity a:hover {
    color: #DA4E39;
}

.entity:hover .entity-logo{
    opacity: 0;
}

.entity:hover .name{
    color: #fff;
}

.entity:hover .solution{
    color: #fff;
}

.entity:hover .type{
    color: #fff;
}

.entity:hover .entity-logo-negative {
    opacity: 1;
}

.entity:hover .rrss-icon path {
    fill: #fff;
}

.entity:hover .website, .entity:hover .contact-email {
    color: #FBC218 !important;
}

.entity:hover .website:hover, .entity:hover  .contact-email:hover {
    color: #fff !important;
}

.entity-basic {
    width:65%;
}

.name {
    font-size: 1.8em;
    font-weight: 600;
    color: #DA4E39;
    line-height: 1em;
}

.summary {
    font-size: 0.9em;
    text-align: justify;
    margin-top: 1em;
}

.solution-info {
    margin-top: 2em;
}

.entity-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
    width: 33%;
    text-align: right;
    font-size: 0.9em;
}

.logos {
    position: relative;
}

.entity-logo {
    position: relative;
    opacity: 1;
    transition: all ease-in-out 0.5s;
}

.entity-logo-negative {
    position: absolute;
    top: 0;
    right:0;
    opacity: 0;
    transition: all ease-in-out 0.5s;
    z-index: 2;
}

.entity img {
    max-width: 90%;
    max-height: 7vw;
}

.entity-contact {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    align-items: flex-end;
    font-weight: 500;
    font-size: 1.1em;
}

.type {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.2em;
    width: 90%;
    font-size: 1em;
    border-bottom: 2px solid #FBC218;
    margin-bottom: 0.8em;
    font-weight: 700;
    color: #DA4E39;
}

.address {
    font-size: 0.7em;
    font-style: italic;
    font-weight: 300;
    width: 90%;
    border-bottom: 2px solid #FBC218;
    padding-bottom: 0.8em;
    margin-bottom: 0.8em;
}

.contact-person {
    background-color: #DA4E39;
    color: #fff;
    padding: 1em 0;
    border-radius: 2em;
    width: 90%;
    text-align: center;
}

.contact-email {
    width: 90%;
    padding: 0 0em 0.8em 0em;
    text-align: center;
    border-bottom: 2px solid #FBC218;
    margin-bottom: 0.8em;
}

.social-media {
    display: flex;
    width: 90%;
    height: 1.5vw;
    gap: 0.5vw;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.5em;
}

.rrss-icon {
    width: 1.5vw; 
}

.social-media a:hover .rrss-icon path {
    fill: #FBC218 !important;
}

.rrss-icon path, .website, .name {
    transition: all ease-in-out 0.3s;
}

.solution {
    font-size: 1.2em;
    font-weight: 600;
    color: #DA4E39;
    line-height: 1em;
}

.solution ul {
    margin-top: 0.5em;
}

.solution-dot {
    margin-bottom: 0.5em;
    font-size: 0.8em;
    text-align: justify;
}

@media  (max-width: 1500px) {
    #interactive-map { 
        font-size: 14px;
    }
}


@media  (max-width: 1280px) {
    #interactive-map { 
        font-size: 16px;
    }
    .entity {
        width: 90vw;
    }

    .entity img {
        max-height: 15vw;
    }

    .rrss-icon {
        width: 3vw;
    }
}


@media  (max-width: 768px) {
    #interactive-map { 
        font-size: 14px;
    }
    #map {
        width: 90vw;
    }
    .entity {
        width: 90vw;
        flex-direction: column;
    }

    .entity-basic {
        margin-top: 17vw;
    }

    .entity-basic, .entity-info, .entity-contact {
        width: 90%;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 2%;
    }

    .entity img {
        max-height: 15vw;
    }

    .logos {
        position: absolute;
        top: 2vw;
    }

    .type, .address, .contact-email, .contact-person {
        width: 100%;
        padding: 1em 1em 1em 1em;
    }

    .rrss-icon {
        width: 3vw; 
    }

    #buttons button {
        font-size: 0.9em;
    }
}

/* ENTITY ANIMATION */

.animation {
    animation: enter 0.5s ease-in-out forwards;
    animation-iteration-count: 1;
}

.animation:nth-child(1) {
    animation-delay: 0.1s;
}
.animation:nth-child(2) {
    animation-delay: 0.2s;
}
.animation:nth-child(3) {
    animation-delay: 0.3s;
}
.animation:nth-child(4) {
    animation-delay: 0.4s;
}
.animation:nth-child(5) {
    animation-delay: 0.5s;
}
.animation:nth-child(6) {
    animation-delay: 0.6s;
}
.animation:nth-child(7) {
    animation-delay: 0.7s;
}
.animation:nth-child(8) {
    animation-delay: 0.8s;
}
.animation:nth-child(9) {
    animation-delay: 0.9s;
}
.animation:nth-child(10) {
    animation-delay: 1s;
}
.animation:nth-child(11) {
    animation-delay: 1.1s;
}
.animation:nth-child(12) {
    animation-delay: 1.2s;
}
.animation:nth-child(13) {
    animation-delay: 1.3s;
}
.animation:nth-child(14) {
    animation-delay: 1.4s;
}
.animation:nth-child(15) {
    animation-delay: 1.5s;
}
.animation:nth-child(16) {
    animation-delay: 1.6s;
}
.animation:nth-child(17) {
    animation-delay: 1.7s;
}
.animation:nth-child(18) {
    animation-delay: 1.8s;
}
.animation:nth-child(19) {
    animation-delay: 1.9s;
}
.animation:nth-child(20) {
    animation-delay: 2s;
}
.animation:nth-child(21) {
    animation-delay: 2.1s;
}
.animation:nth-child(22) {
    animation-delay: 2.2s;
}
.animation:nth-child(23) {
    animation-delay: 2.3s;
}
.animation:nth-child(24) {
    animation-delay: 2.4s;
}
.animation:nth-child(25) {
    animation-delay: 2.5s;
}
.animation:nth-child(26) {
    animation-delay: 2.6s;
}
.animation:nth-child(27) {
    animation-delay: 2.7s;
}
.animation:nth-child(28) {
    animation-delay: 2.8s;
}
.animation:nth-child(29) {
    animation-delay: 2.9s;
}
.animation:nth-child(30) {
    animation-delay: 3s;
}
.animation:nth-child(31) {
    animation-delay: 3.1s;
}
.animation:nth-child(32) {
    animation-delay: 3.2s;
}
.animation:nth-child(33) {
    animation-delay: 3.3s;
}
.animation:nth-child(34) {
    animation-delay: 3.4s;
}
.animation:nth-child(35) {
    animation-delay: 3.5s;
}
.animation:nth-child(36) {
    animation-delay: 3.6s;
}
.animation:nth-child(37) {
    animation-delay: 3.7s;
}
.animation:nth-child(38) {
    animation-delay: 3.8s;
}
.animation:nth-child(39) {
    animation-delay: 3.9s;
}
.animation:nth-child(40) {
    animation-delay: 4s;
}
.animation:nth-child(41) {
    animation-delay: 4.1s;
}
.animation:nth-child(42) {
    animation-delay: 4.2s;
}
.animation:nth-child(43) {
    animation-delay: 4.3s;
}
.animation:nth-child(44) {
    animation-delay: 4.4s;
}
.animation:nth-child(45) {
    animation-delay: 4.5s;
}
.animation:nth-child(46) {
    animation-delay: 4.6s;
}
.animation:nth-child(47) {
    animation-delay: 4.7s;
}
.animation:nth-child(48) {
    animation-delay: 4.8s;
}
.animation:nth-child(49) {
    animation-delay: 4.9s;
}
.animation:nth-child(50) {
    animation-delay: 5s;
}
.animation:nth-child(51) {
    animation-delay: 5.1s;
}
.animation:nth-child(52) {
    animation-delay: 5.2s;
}
.animation:nth-child(53) {
    animation-delay: 5.3s;
}
.animation:nth-child(54) {
    animation-delay: 5.4s;
}
.animation:nth-child(55) {
    animation-delay: 5.5s;
}
.animation:nth-child(56) {
    animation-delay: 5.6s;
}
.animation:nth-child(57) {
    animation-delay: 5.7s;
}
.animation:nth-child(58) {
    animation-delay: 5.8s;
}
.animation:nth-child(59) {
    animation-delay: 5.9s;
}
.animation:nth-child(60) {
    animation-delay: 6s;
}
.animation:nth-child(61) {
    animation-delay: 6.1s;
}
.animation:nth-child(62) {
    animation-delay: 6.2s;
}
.animation:nth-child(63) {
    animation-delay: 6.3s;
}
.animation:nth-child(64) {
    animation-delay: 6.4s;
}
.animation:nth-child(65) {
    animation-delay: 6.5s;
}
.animation:nth-child(66) {
    animation-delay: 6.6s;
}
.animation:nth-child(67) {
    animation-delay: 6.7s;
}
.animation:nth-child(68) {
    animation-delay: 6.8s;
}
.animation:nth-child(69) {
    animation-delay: 6.9s;
}
.animation:nth-child(70) {
    animation-delay: 7s;
}
.animation:nth-child(71) {
    animation-delay: 7.1s;
}
.animation:nth-child(72) {
    animation-delay: 7.2s;
}
.animation:nth-child(73) {
    animation-delay: 7.3s;
}
.animation:nth-child(74) {
    animation-delay: 7.4s;
}
.animation:nth-child(75) {
    animation-delay: 7.5s;
}
.animation:nth-child(76) {
    animation-delay: 7.6s;
}
.animation:nth-child(77) {
    animation-delay: 7.7s;
}
.animation:nth-child(78) {
    animation-delay: 7.8s;
}
.animation:nth-child(79) {
    animation-delay: 7.9s;
}
.animation:nth-child(80) {
    animation-delay: 8s;
}
.animation:nth-child(81) {
    animation-delay: 8.1s;
}
.animation:nth-child(82) {
    animation-delay: 8.2s;
}
.animation:nth-child(83) {
    animation-delay: 8.3s;
}
.animation:nth-child(84) {
    animation-delay: 8.4s;
}
.animation:nth-child(85) {
    animation-delay: 8.5s;
}
.animation:nth-child(86) {
    animation-delay: 8.6s;
}
.animation:nth-child(87) {
    animation-delay: 8.7s;
}
.animation:nth-child(88) {
    animation-delay: 8.8s;
}
.animation:nth-child(89) {
    animation-delay: 8.9s;
}
.animation:nth-child(90) {
    animation-delay: 9s;
}
.animation:nth-child(91) {
    animation-delay: 9.1s;
}
.animation:nth-child(92) {
    animation-delay: 9.2s;
}
.animation:nth-child(93) {
    animation-delay: 9.3s;
}
.animation:nth-child(94) {
    animation-delay: 9.4s;
}
.animation:nth-child(95) {
    animation-delay: 9.5s;
}
.animation:nth-child(96) {
    animation-delay: 9.6s;
}
.animation:nth-child(97) {
    animation-delay: 9.7s;
}
.animation:nth-child(98) {
    animation-delay: 9.8s;
}
.animation:nth-child(99) {
    animation-delay: 9.9s;
}
.animation:nth-child(100) {
    animation-delay: 10s;
}



@keyframes enter {
    from {
        transform: translateX(500px);
        opacity:0;
    }
    to {
        transform: translateX(0);
        opacity:1;
    }
}
